<!doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/styles/main.css" />
    {{#if styles}}
        {{#each styles}}
            <link rel="stylesheet" type="text/css" href="{{this}}" />
        {{/each}}
    {{/if}}
    <title>{{title}}</title>
</head>
<body>
    <div class="popup-shadow"></div>
    <header>
        <h1><a href="/">Panoramadingdong</a></h1>
        <label for="show-menu" class="show-menu">Show Menu</label>
        <input type="checkbox" id="show-menu" role="button" style="display:none;"> 
        <nav>
           <ul>
                <li><a href="/discover">Discover</a></li>
                <li><a href="/browse">Browse</a></li>
                <li><a href="/upload">Create</a></li>
            </ul>
        </nav>
        <form id="signup-form">
            <p>Sign Up to Panoramadingdong</p>
            <label for="signup-email" class="left">Email</label>
            <input type="email" id="signup-email" placeholder="john@smith.com" required>
            <br/>
            <label for="signup-name" class="left">Name</label>
            <input type="text" id="signup-name" placeholder="John Smith" required>
            <br/>
            <label for="signup-alias" class="left">Username</label>
            <input type="text" id="signup-alias" placeholder="jsmith" required>
            <br/>
            <label for="signup-password" class="left">Password</label>
            <input type="password" id="signup-password" placeholder="Password" required>
            <br/>
            <label for="signup-password-2" class="left">Confirm</label>
            <input type="password" id="signup-password-2" placeholder="Confirm Password" required>
            <br/>
            <input type="submit" value="Sign Up">
        </form>
        <form id="login-form">
            <label for="login-email" class="left">Email</label>
            <input type="email" id="login-email" placeholder="email" required>
            <br/>
            <label for="login-password" class="left">Password</label>
            <input type="password" id="login-password" placeholder="password" required>
            <input type="submit" value="Login">
        </form>
        <div class="right-side">
            <span id="welcome-text"></span>
            <div id="login-wrapper">
                <button type="submit" id="return-button">Back</button>
                <button type="submit" id="login-button">Login</button>
                <button type="submit" id="signup-button">Signup</button>
                <button type="submit" id="logout-button">Logout</button>
            </div>
        </div>
        <div class="empty"></div>
    </header>
    <main>
        {{{body}}}
    </main>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="https://sdk.amazonaws.com/js/aws-sdk-2.2.39.min.js"></script>
    <script src="https://cdn.firebase.com/js/client/2.4.0/firebase.js"></script>
    <script src="/scripts/index.js"></script>
    <script src="/scripts/ui.js"></script>
    {{#if scripts}}
    {{#each scripts}}
        <script src="{{this}}"></script>
    {{/each}}
    {{/if}}
</body>
</html>
