<div class="content-box">
    <h2>Discover something <span id="flavor-text"></span></h2>
    <form id="form-search">
        <input type="text" name="s" id="inp-search-text" placeholder="What are you looking for?" required />
        <input type="submit" value="Search" />
    </form>
    <div id="results" class="thumbs">
    </div>
</div>
