<h1>Upload Panorama</h1>
<div class="error"></div>
<form id="form-upload">
    <label for="inp-pano" class="form-reqd">Upload your image: </label><input type="file" name="pano" id="inp-pano" required /><br />
    <label for="inp-title" class="form-reqd">Title: </label><input type="text" id="inp-title" name="title" placeholder="My Panorama" required /><br />
    <label for="inp-tags">Tags: </label><br /><br /><input name="tags" id="inp-tags" /><br />
    <label for="inp-taken">Date Taken: </label><input type="date" name="taken" id="inp-taken" /><br />
    <label for="inp-desc">Description: </label><br />
    <textarea id="inp-desc" placeholder="Tell us a little about your panorama!" name="desc" cols="64" rows="10"></textarea><br />
    <input id="btn-submit" type="submit" value="Post" />
</form>
