<div class="content-box">
    <h1>Welcome to PanoramaDingDong!</h1>
    <p>The #1 cloud based panorama sharing service in this classroom!</p>
    <p id="login-prompt"><strong>Please login or signup to access the full features of the site! You browse photos without logging in.</strong></p>
</div>