<script src="/scripts/openseadragon.min.js"></script>
<script>
    // for use with client side scripts
    var userid = '{{user}}';
</script>
<h1>Account Information</h1>
<div id="name"><h3>Name: </h3></div>
<div id="username"><h3>Username: </h3></div>
<div id="email"><h3>Email:</h3> </div>
<div id="uploads-list" class="thumbs"><h2>Uploads</h2></div>
<div id="favorites-list" class="thumbs"><h2>Favorites</h2></div>