<script src="/scripts/openseadragon.min.js"></script>
<script>
    // for use with client side scripts
    var panoid = '{{pano}}';
</script>

<div id="photo-section">
</div>
<div class="photo-page">
    <div class="photo-title"></div>
    <div class="photo-likes"><span id="like-txt">Like</span> (<span id="like-count">0</span>)</div>
    <div class="photo-favorites"><span id="fav-txt">Favorite</span> (<span id="fav-count">0</span>)</div>
    <br />
    <div class="photo-creator"></div>
    <div class="photo-taken"></div>
    <br />
    <div class="photo-description"></div>
    <div class="photo-tags"></div>
    <br />
    <div class="photo-comments">
        <h2 id="comment-header">No Comments</h2>
        <p id="login-prompt">You must be logged in to comment!</p>
        <form id="form-comment">
            <textarea id="inp-comment" name="comment" placeholder="Post a comment" required></textarea>
            <input type="submit" value="Post" />
        </form>
        <div id="comments-wrapper">
        </div>
    </div>
</div>
