/* for search/discover page */
html, body {
    background-image: url(https://s3.amazonaws.com/naiello/pano/bkg-discover.JPG);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h2 {
    font-weight: 300;
}

#flavor-text {
    font-weight: 400;
}

#form-search {
    width: 100%;
}

#form-search input[type=text] {
    width: 90%;
    height: 32px;
}

#form-search input[type=text]:focus {
    box-shadow: 0 0 8px dodgerblue;
    outline: none;
}

.thumbs {
    text-align: center;
}

.thumbs ul li {
    text-align: left;
}
