/* all pages */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', Verdana, sans-serif;
    font-weight: 300;
    background-color: white;
    color: black;
}

main {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 32px;
}

header a {
    text-decoration: none;
    color: white;
}
header a:hover {
    text-shadow: 0 0 4px #AAA;
}

main a {
    text-decoration: none;
    color: black;
}

main a:hover {
    color: #526aa3;
}

b {
    font-weight: 400;
}

.content-box {
    width: 50%;
    margin-top: 64px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: 0 0 16px rgba(255, 255, 255, 0.6);
    padding: 32px;
    min-height: 50%;
}

.error {
    color: darkred;
    border: solid 1px darkred;
    width: 98%;
    background-color: rgba(255, 0, 0, 0.3);
    padding-left: 12px;
    margin: 16px;
    border-radius: 8px;
}

/* Title and Nav Bar */
h1 {
    padding: 0;
    margin: 0;
}

h1 a {
    color: white;
    text-decoration: none;
}

header {
    background-color: #2B3856;
    color: ghostwhite;
    width: 100%;
    margin: 0 0 4px 0;
    padding: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
}

header h1 {
    display: inline-block;
    margin: 32px;
}

.show-menu { /* hide Show Menu button: only for mobile */
    text-decoration: none;
    text-align: center;
    display: none;
    width: 0
}

input[type=checkbox]:checked ~ nav ul{	/* show menu when checkbox is checked */
	display: block;
}

nav {
    display: inline-block;
    font-weight: 400;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    height: 100%;
}

nav li {
    display: inline-block;
    margin: 16px;
}

nav a {
    width: 18%;
    color: white;
    text-decoration: none;
}

nav a:hover {
    text-shadow: 0 0 4px #AAA;
}

.right-side {
    display: inline-block;
    float: right;
    padding: 0;
    margin: 32px 64px 0 0;
}

#login-wrapper, #welcome-text {
    display: inline-block;
}

.button-thumbnail {
    background-color: #2B3856;
    color: ghostwhite;
    padding: 10px;
}

/* Forms */
header button {
    border-radius: 8px;
    padding: 8px;
    font-family: 'Open Sans', Verdana, sans-serif;
    background-color: white;
    border: solid 1px #888888;
    font-size: large;
    margin-left: 16px;
}

form {
    width: 95%;
    max-width: 800px;
}

header form {
    width: 40%;
    padding: 0;
    display: inline-block;
    margin: 32px 0 0 64px;
    line-height: 25%;
}

header form input {
    padding: 2px;
    margin: 2px;
}


input, textarea, .tagsinput {
    display: inline-block;
    width: 30%;
    border-radius: 8px;
    font-family: 'Open Sans', Verdana, sans-serif;
    padding: 8px;
    margin: 8px 0 8px 0;
    border: solid 1px #888;
}

textarea {
    width: 60%;
}

.tagsinput {
    display: block;
}

input[type=submit], input[type=button] {
    display: block;
    max-width: 128px;
    width: 15%;
    margin-left: auto;
    margin-right: auto;
}

input[type=submit]:active, input[type=submit]:active {
    background-color: #AAA;
}

.invalid {
    border-color: darkred;
    color: darkred;
}

label {
    display: inline-block;
    width: 25%;
}

label.form-reqd {
    font-weight: 400;
}

label.form-reqd:after {
    content: '*';
    font-style: italic;
    color: darkred;
}

main h1 {
    margin: 20px 0 0 0;
}

/* pop ups */
.popup {
    position: absolute;
    left: 30%;
    top: 30%;
    width: 40%;
    border: solid 1px #888;
    z-index: 100;
    padding: 16px;
    background-color: white;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.6);
}

.popup-shadow {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 99;
    display: none;
}

/* thumbnail lists */
.thumbs ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.thumbs ul li {
    position: relative;
    display: inline-block;
    border: solid 1px #888;
    width: 256px;
    height: 256px;
    margin: 4px;
    padding: 0;
}

.thumbs ul li img:not(.inline-icon) {
    margin: 0;
    width: 256px;
    height: 256px;
}

.thumbs ul li .overlay {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 250px;
    height: 250px;
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    padding: 8px 0 0 8px;
}

.thumbs ul li .overlay p {
    font-size: small;
}

.thumbs a, .thumbs a:hover, .thumbs a:visited {
    color: white;
    text-decoration: none;
}

img.inline-icon {
    width: 16px;
    height: 16px;
    display: inline-block;
}

/* mobile */
@media (max-width: 1008px) {

    /* Make title smaller and centered */
    header h1 {
	    font-size: x-large;
	    text-align: center;
        display: block;
        margin: 0 32px 32px 32px;
        padding-top: 32px;
    }

    nav {
        width: 100%;
        text-align: center;
    }

    nav li {
        margin: 16px 16px 0 0;
	    text-align: center;
    }

    .right-side {
        display: block;
	    text-align: center;
        width: 100%;
        margin: 32px 0 0 0;
    }

    #login-wrapper, #welcome-text {
        display: block;
    }

    nav ul {
        position: static;
        display: none;
        width: 100%;
        text-align: center;
    }

    /* mobile menu is full width */
    nav ul li {
        width: 100%;
    }

    /* Show Menu visible in mobile version */
    .show-menu {
        width: auto;
        display: block;
    }

    input {
        min-width: 100px;
    }

    label {
        margin: 7px;
    }

    header form p {
        line-height: 20px;
    }

    main div h1 {
        word-wrap: break-word;
    }

    .empty {
        clear: both;
        display: block;
    }

    header {
        padding-bottom: 10px;
        width: 100%;
    }
}
