/* for browse page */
main {
    width: 100%;
    margin-top: 0;
}

.photo-page {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}

.photo-title {
    display: inline-block;
    width: 65%;
}

.photo-title h1 {
    margin: 8px;
    padding: 0;
}

.photo-likes {
    float:right;
    padding: 4px;
    margin: 11px;
    width: 10%;
    max-width: 90px;
    border: solid 1px green;
    border-radius: 4px;
    background-color: #90EE90;
    color: green;
}

.photo-liked {
    background-color: green;
    color: white;
}

.photo-favorites {
    float:right;
    max-width: 128px;
    margin: 11px;
    padding: 4px;
    width: 15%;
    border-radius: 4px;
    border: solid 1px darkred;
    color: darkred;
    background-color: #EE9090;
}

.photo-favorited {
    background-color: darkred;
    color: white;
}

.photo-description {
    width: 95%;
    margin-left: 64px;
}

.photo-creator, .photo-tags, .photo-taken {
    margin-left: 64px;
}

.photo-tags {
    padding-top: 15px;
}

.comment-header {
    font-weight: bold;
    font-size: larger;
    padding-top: 15px;
    padding-bottom: 8px;
}

.comment-name {
    font-weight: bold;
}

.comment-content {
    text-indent: 30px;
}

#photo-section {
    padding: 16px;
    margin-bottom: 32px;
    background-color: #222;
    max-width: 100%;
}

.openseadragon-container {
    min-height: 480px;
    max-width: 100%;
    margin: 0;
}
